body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #273b42;
}

header {
    background-color: #253e42;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fdfdfd;
    text-decoration: none;
}

section {
    padding: 2em;
}

footer {
    background-color: #263d43;
    color: #ffffff;
    text-align: center;
    padding: 1em;
}

/* Centering the logo in the header or footer */
header img, footer img {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

/* If you want the logo to adjust dynamically */
header img, footer img {
    max-width: 100%;
    height: auto;
}